/*
NOTE:
------
PLACE HERE YOUR OWN CSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */

navblob {
  color: #fff;
  background-color: #00bcd4;
 }
  navblob a {
    color: #fff; }
  navblob .nav-wrapper {
    position: relative;
    height: 100%; }
    navblob .nav-wrapper i {
      display: block;
      font-size: 2rem; }
  @media only screen and (min-width: 993px) {
    navblob a.button-collapse {
      display: none; } }
  navblob .button-collapse {
    float: left;
    position: relative;
    z-index: 1;
    height: 56px; }
    navblob .button-collapse i {
      font-size: 2.7rem;
      height: 56px;
      line-height: 56px; }
  navblob .brand-logo {
    position: absolute;
    color: #fff;
    display: inline-block;
    font-size: 2.1rem;
    padding: 0;
    white-space: nowrap; }
    navblob .brand-logo.center {
      left: 50%;
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      transform: translateX(-50%); }
    @media only screen and (max-width: 992px) {
      navblob .brand-logo {
        left: 50%;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%); } }
    navblob .brand-logo.right {
      right: 0.5rem;
      padding: 0; }
  navblob ul {
    margin: 0; }
    navblob ul li {
      -webkit-transition: background-color 0.3s;
      -moz-transition: background-color 0.3s;
      -o-transition: background-color 0.3s;
      -ms-transition: background-color 0.3s;
      transition: background-color 0.3s;
      float: left;
      padding: 0; }
      navblob ul li:hover, navblob ul li.active {
        background-color: rgba(0, 0, 0, 0.1); }
    navblob ul a {
      font-size: 1rem;
      color: #fff;
      display: block;
      padding: 0 15px; }
    navblob ul.left {
      float: left; }
  navblob .input-field {
    margin: 0; }
    navblob .input-field input {
      height: 100%;
      font-size: 1.2rem;
      border: none;
      padding-left: 2rem; }
      navblob .input-field input:focus, navblob .input-field input[type=text]:valid, navblob .input-field input[type=password]:valid, navblob .input-field input[type=email]:valid, navblob .input-field input[type=url]:valid, navblob .input-field input[type=date]:valid {
        border: none;
        box-shadow: none; }
    navblob .input-field label {
      top: 0;
      left: 0; }
      navblob .input-field label i {
        color: rgba(255, 255, 255, 0.7);
        -webkit-transition: color 0.3s;
        -moz-transition: color 0.3s;
        -o-transition: color 0.3s;
        -ms-transition: color 0.3s;
        transition: color 0.3s; }
      navblob .input-field label.active i {
        color: #fff; }
      navblob .input-field label.active {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0); }



	/* this line is necessary in every project using jEffects */


	h1:hover {color:#006699 }
	span { border:2px solid #006699}
	span:hover { border-color:#fff !important }
	
	.orbital {
	top: 300px;
	width: 40px;
	height: 40px;
	left: 400px;
	padding: 5px;
	border: #ffffff solid #0096d6;
	border-radius: 300px !important;
	-moz-border-radius: 300px !important;
	-webkit-border-radius: 300px !important;
	background-repeat: no-repeat;
	color: #0096d6;
	background-origin: content-box;
	vertical-align: text-top;
	text-align: center;
	background-image: url(../images/task360logo-v01.png);
	/* [disabled]background-position: 50% 50%; */
	background-size: auto 100%;
}

	.orbit .orbit .orbit span { background:#0096d6; color:#ffffff; border-color:#0096d6}
	.orbit .orbit .orbit .orbit span { background:#0096d6; color:#ffffff; border-color:#0096d6 }
	
	.orbit {
	/* [disabled]border-color: #0096d6; */
	/* [disabled]border-style: solid; */
	/* [disabled]border-width: 1px; */
	border-radius: 200px;
	-moz-border-radius: 200px;
	-webkit-border-radius: 200px;
}
	.orbit span { display:block; color:#ffffff; background:#0096d6; width:32px; height:32px; line-height:32px;
	border-radius:32px; 
	-moz-border-radius:32px; 
	-webkit-border-radius:32px; }
	
	#examples { position:fixed; color:#0096d6; padding:4px;}
	#examples a { color:inherit; text-decoration:none }
	#examples a.example {color:#fff; font-size:12px; font-weight:bold; background:#ccc; color:#222; padding:4px; text-shadow:0 -1px 2px #fff; border-top:1px solid #eee; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; }
	#examples h1 { color:#f0a; display:inline }	
	#examples a.example:hover { background:#fff }
	
	.orbital3, .orbital4, .orbital2 { border-style:dotted; }
