<!DOCTYPE html>
<html lang="en" ng-app="taskData">
	<head>
		<!-- Favicons-->
		<link rel="icon" href="images/favicon/favicon-32x32.png" sizes="32x32">
		<!-- Favicons-->
		<link rel="apple-touch-icon-precomposed" href="images/favicon/apple-touch-icon-152x152.png">
		<!-- For iPhone -->
		<meta name="msapplication-TileColor" content="#00bcd4">
		<meta name="msapplication-TileImage" content="images/favicon/mstile-144x144.png">
		<!-- For Windows Phone -->
		<!-- CORE CSS-->
		<link rel="stylesheet" href="js/plugins/gooey/libs/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
		<link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen">
		<link href="css/style.css" type="text/css" rel="stylesheet" media="screen">
		<!-- Custome CSS-->
		<link href="css/custom-style.css" type="text/css" rel="stylesheet" media="screen">
		<!-- CSS for full screen (Layout-2)-->
		<link href="css/style-fullscreen.css" type="text/css" rel="stylesheet" media="screen">
		<!-- INCLUDED PLUGIN CSS ON THIS PAGE -->
		<link href="css/prism.css" type="text/css" rel="stylesheet" media="screen">
		    <link rel="stylesheet" href="js/plugins/gooey/src/gooey.min.css">
		    <script type="text/javascript" src="js/plugins/gooey/libs/jQuery/jquery-2.1.3.min.js"></script>
		    <script type="text/javascript" src="js/plugins/gooey/src/gooey.min.js"></script>
		<link href="js/plugins/perfect-scrollbar/perfect-scrollbar.css" type="text/css" rel="stylesheet" media="screen">
		<link href="js/plugins/chartist-js/chartist.min.css" type="text/css" rel="stylesheet" media="screen">
		<link rel="stylesheet" type="text/css" href="css/custom-style.css"/>
		<script type="text/javascript" src="js/angular.min.js"></script>
		<script type="text/javascript" src="js/app.js"></script>

		<script>
        $(function($) {
            $("#gooey-1").gooeymenu({
                bgColor: "#ff6666",
                contentColor: "white",
                style: "circle",
                horizontal: {
                    menuItemPosition: "glue"
                },
                vertical: {
                    menuItemPosition: "spaced",
                    direction: "up"
                },
                circle: {
                    radius: 90
                },
                margin: "small",
                size: 90,
                bounce: true,
                bounceLength: "small",
                transitionStep: 100,
                hover: "#e55b5b"
            });


        });
    </script>
	</head>
	<body>
	<a class="btnimg modal-trigger" href="#modal5"><img class="responsive-img" src="images/mainbackground.png" width="1500" height="600" alt=""/></a>
	<nav id="gooey-1">
  <input type="checkbox" class="menu-open" name="menu-open1" id="menu-open1"/>
  <label class="open-button" for="menu-open1">
    <span class="burger burger-1"></span>
    <span class="burger burger-2"></span>
    <span class="burger burger-3"></span>
  </label>
				<div class="gooey-menu-item" ng-controller="GuidelinesController">
					<span class="orbital">
						<a class="modal-trigger" href="#modal1">
							<img src="images/icons/guidelines_standards_icon.png" width="30" height="30" alt=""/>
						</a>
					</span>
					<div id="modal1" class="modal" ng-include="'tempGuide'">
					</div>
				</div>
				<div class="gooey-menu-item" ng-controller="ToolsController">
					<span class="orbital">
					<a class="modal-trigger" href="#modal2">
						<img src="images/icons/tools_icon.png" width="30" height="28" alt=""/>
					</a>
				</span>
				<div id="modal2" class="modal" ng-include="'tempTool'">
				</div>
			</div>
			<div class="gooey-menu-item" ng-controller="SMEController">
				<span class="orbital">
					<a class="modal-trigger" href="#modal3">
						<img src="images/icons/user_expert_icon.png" width="30" height="28" alt=""/>
					</a>
				</span>
				<div id="modal3" class="modal" ng-include="'tempSME'" onload="callSkype()">
				</div>
			</div>
	</nav>
	<script type="text/ng-template" id="tempGuide">
		<ul id="profile-page-about-feed" class="collection z-depth-1" ng-repeat="guide in guidelines">
			<li class="collection-item avatar">
					<span class="title">{{guide.section}}</span>
					<p>{{guide.linetext}}
							<br> <span class="ultra-small">{{guide.listtext}}</span>
					</p>
			</li>
	</ul>
	</script>
	<script type="text/ng-template" id="tempTool">
		<ul id="profile-page-about-feed" class="collection z-depth-1" ng-repeat="tool in tools">
					<span>{{tool.toolbox}}</span>
					<li class="collection-item avatar" ng-repeat="toolitem in tool.tools">
							<img ng-src="{{toolitem.toolimage}}" alt="" class="circle">
								<span class="title">{{toolitem.toolname}}</span>
								<p>{{toolitem.tooldescription}}
								</p>
								<a ng-href="{toolitem.toolurl}" class="secondary-content">{{toolitem.toolname}}</a>
					</li>
		</ul>
	</script>
	<script type="text/ng-template" id="tempSME">
	<ul id="profile-page-about-feed" class="collection z-depth-1" ng-repeat="sme in smes">
			<li class="collection-item avatar">
					<img ng-src="{{sme.image}}" alt="" class="circle">
					<span class="title">{{sme.name}}</span>
					<p><a ng-href="{{'mailto:'+sme.email+'?Subject=User Story assistance'}}">Email</p>
					<a href="#!" class="secondary-content"><div id="{{'SkypeButton_Call_timhuff5_'+$index}}"></div></a>
			</li>
	</ul>
	</script>
	<!-- jQuery Library -->
	<!--materialize js-->
	<script type="text/javascript" src="js/materialize.js"></script>
	<!--prism-->
	<script type="text/javascript" src="js/prism.js"></script>
	<!--scrollbar-->
	<script type="text/javascript" src="js/plugins/perfect-scrollbar/perfect-scrollbar.min.js"></script>
	<!-- chartist -->
	<script type="text/javascript" src="js/plugins/chartist-js/chartist.min.js"></script>
	<!--plugins.js - Some Specific JS codes for Plugin Settings-->
	<script type="text/javascript" src="js/plugins.js"></script>
	<!-- skype plugin -->
	<script type="text/javascript" src="http://www.skypeassets.com/i/scom/js/skype-uri.js"></script>
</body>
</html>